<?xml version="1.0"?>
<launch>

<arg name="robot_name" default="kr52" />
<arg name="use_ros_control" default="True" />
<arg name="motors_controller_type" default="EffortJointInterface" />

<!-- Load robot description to parameter server -->
<!--param name="robot_description" command="$(find xacro)/xacro - -inorder '$(find kr5_description)/urdf/kr5_robot.urdf.xacro'
  robot_name:=$(arg robot_name)
  motors_controller_type:=$(arg motors_controller_type)
  use_ros_control:=$(arg use_ros_control)"
  /-->

  <arg name="urdf_path" default="$(find assembly_kuka_simp)/urdf/kuka_nuevo.urdf"/>
  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

</launch>
